<nav>
  <ul>
    <li><a href="{{ '/index' | relative_url }}">Home</a></li>
    <li><a href="{{ '/team' | relative_url }}">Team</a></li>
    <li><a href="{{ '/research' | relative_url }}">Research</a></li>
    <li><a href="{{ '/publications' | relative_url }}">Publications</a></li>
    <li><a href="{{ '/openings' | relative_url }}">Openings</a></li>
    <li><a href="{{ '/resources' | relative_url }}">Resources</a></li>
    <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
  </ul>
</nav>
